<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grupo DILTEX</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/VendorPortal.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrapper" class="shadow">
        <form id="IndexForm">
            <div class="row header">
                <div class="col-xs-8">
                    <a href="Default.aspx"><img src="images/logo_grupodiltex.png" style="margin-left: 20px" /></a>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
            <div class="row main">
                <div class="row">
                    <div class="row content-page">
                        <div class="col-xs-12 content-entry">
                            <div class="content-item" style="font-size: 10pt; width: 600px;">
                                <h2>Aviso de Privacidad</h2>
                                <img src="images/linea_separacion.png">
                                <p>DILTEX, S.A. DE C.V. sus empresas afiliadas y/o subsidiarias (en adelante, LA EMPRESA), con domicilio en Av. Primero de Mayo No. 125, Local A, Col. San Andrés Atoto, Naucalpan, Estado de México, C.P. 53500, es responsable de recabar sus datos personales, así como del uso y protección que se le dé a los mismos, de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>
                                <p><strong>Uso de sus datos personales.</strong> Sus datos personales serán utilizados con la finalidad de: acceder al Portal de Proveedores y/o Portal de Facturación que LA EMPRESA ha implementado para sus Proveedores actuales o potenciales, y cuyo objetivo es informarle respecto de órdenes de compra, logística de compra, forma de entrega de producto, empaquetado, programación de citas, proceso de facturación y/o proceso de contratación, así como para informarle de cambios o modificaciones respecto de los mismos. </p>
                                <p><strong>Datos personales que recabamos.</strong> Para tales efectos, requerimos obtener los datos personales siguientes: nombre, apellidos, domicilio, puesto que desempeña en la empresa, denominación legal o razón social de la empresa, datos del Registro Federal de Causantes, domicilio fiscal de la Empresa, dirección de correo electrónico, número telefónico y los documentos e información necesarios para cumplir los procesos de facturación y contratación conforme a legislación aplicable. Sus datos personales podrán ser recabados por nosotros de manera personal, cuando tenga reuniones de proveedores, o bien cuando utiliza nuestros servicios en línea a través del Portal de Proveedores y/o del Portal de Facturación en internet.</p>
                                <p>LA EMPRESA no recabará de sus clientes datos personales considerados sensibles conforme a la ley, ni recabará datos personales de menores de edad. Asimismo, LA EMPRESA no recaba ni hace uso de "cookies" en el Portal de Proveedores y/o del Portal de Facturación. </p>
                                <p><strong>No transmisión de datos personales.</strong> LA EMPRESA no venderá, ni alquilará los datos personales obtenidos. Tampoco compartirá los datos personales con un tercero, excepto que haya sido requerido por orden judicial y en cumplimiento a disposiciones legales.</p>
                                <p>Protección de los Datos Personales. Después de que la información llega a LA EMPRESA, ésta es almacenada en un servidor seguro, diseñado para obstaculizar el acceso desde afuera de la compañía. LA EMPRESA realizará sus mejores esfuerzos para proteger los datos personales y hará todo lo posible para salvaguardar la seguridad en nuestros sistemas.</p>
                                <p>LA EMPRESA tratará sus datos personales recabados de manera confidencial. No obstante, LA EMPRESA no asume ninguna obligación de mantener confidencial cualquier otra información que el titular proporcione, incluyendo aquella información que el titular divulgue públicamente o bien aquella información que sea de carácter público.</p>
                                <p><strong>Acceso, Rectificación, Cancelación y Oposición de los datos personales.</strong> Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado. Para ejercer dichos derechos, deberá contactar solicitarlo a través del Buzón de Quejas y Sugerencias implementado en el Portal de Proveedores y/o del Portal de Facturación o directamente a:</p>
                                <p>Para todos los Datos relacionados con el <strong>Portal de Proveedores:</strong></p>
                                <p>A la Lic. Silvia Beatriz Rodríguez, al correo electrónico:  srodriguez@ilusion.com.mx  o bien al Teléfono  52-79-18-00 Ext. 3375,  y/o</p>
                                <p>A la Lic. Alma Acosta, al correo electrónico:  aacosta@ilusion.com.mx o bien al  Teléfono 52-79-18-00   Ext. 4404. </p>
                                <p>A la Lic. Iliana Ureña, al correo electrónico:  iurena@ilusion.com.mx  o bien al  Teléfono 52-79-18-00   Ext. 4404. </p>
                                <p>Para todos los Datos relacionados con el <strong>Portal de Facturación:</strong> </p>
                                <p>A la Lic. Alicia Cortés, al correo electrónico:  acortes@ilusion.com.mx o bien al Teléfono  52-79-18-00 Ext. 3362.</p>
                                <p>Es necesario que indique claramente su petición y proporcione su nombre completo y número de proveedor. El tiempo para responder a su solicitud será de máximo veinte días hábiles a la recepción de la solicitud.</p>
                                <p><strong>Modificaciones.</strong> Este aviso de privacidad puede tener cambios en el futuro, por lo que se recomienda revisar sus términos periódicamente en el dominio web: <strong> www.grupodiltex.com.mx </strong>  propiedad de LA EMPRESA.</p>
                                <p><strong>Aceptación de términos del aviso.</strong> A través del presente Aviso de Privacidad, LA EMPRESA da cumplimiento y está sujeta a las disposiciones de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. Si el titular utiliza los servicios de LA EMPRESA significa que ha leído, entendido y manifestado su consentimiento respecto los términos y disposiciones antes expuestos. Si no está de acuerdo con ellos, el titular no deberá proporcionar ningún dato personal, ni utilizar los servicios del Portal de Proveedores y/o del Portal de Facturación. </p>
                                <p>Fecha última actualización 02 de Febrero de 2015.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-xs-12">
                    &copy;2014 Diltex S.A. de C.V. Derechos Reservados |
                    <a href="Terminos">Términos y Condiciones</a> |
                    <a href="#">Aviso de Privacidad</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
