<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{title: 'Bienvenido'}); %> 
</head>
<body>
    <header></header>
    <main><h1>Bienvenido Usuario</h1></main>
    <footer></footer>
</body>
</html>