<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <%- include('../views/partials/head.ejs') %>
  </head>
  <body>
    <h1>Bienvenido a tu home</h1>

    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>